<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="message">
	<select id="selectMsgList" resultType="message">
		select
			*
		from
			message
		where
		<choose>

			<when test="type == 'receive'">
				receiver_id =#{memberId} and receiver_del_yn='N'
			</when>

			<when test="type == 'send'">

				sender_id = #{memberId} and sender_del_yn = 'N'

			</when>

			<otherwise>

				(sender_id = #{memberId} and sender_del_yn = 'N') or (receiver_id =#{memberId}
		and receiver_del_yn='N')

			</otherwise>

		</choose>
		
	</select>
	<select id="selectMessageOne" resultType="message">
		select
			*
		from
			message
		where
			no = #{no}
	</select>
	<update id="deleteMessageList">
		
			update message 
			<set>
    			<if test="type == 'receive'">receiver_del_yn = 'Y'</if>
    			<if test="type == 'send'">sender_del_yn = 'Y'</if>
			</set>
    		where no in 
    		<foreach collection="arr" item="item" index="index" separator="," open="(" close=")">
	              #{item}
	           </foreach>

	</update>
	<update id="updateRead">
		update message
		set read_yn = 'Y'
		where no = #{no}
	</update>
</mapper>