<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="service">


<!-- 자주묻는 질문List -->
<select id="selectServiceContentList" resultMap="serviceMap">
	select *
	from service_content
</select>


<select id="listAll" >
        <include refid="paging_header" />  <!-- 밑에 있는 sql문을 include 한다 -->
        
        <!-- ref는 다른테이블을 의미한다. -->
        <!-- 번호, 제목, 작성자, 이름, 날짜 검색 -->
            select no, category, serviceStatus , serviceTitle, serviceContent,reply_no, memberId,serviceDate,read_yn, serviceLevel        
            from service

            <!-- where절은 (조건)은 include 태그를 이용했음 -->

        <include refid="search" />
            order by no desc
        <include refid="paging_footer" />        
</select>



<sql id="paging_header">
<!-- 게시물을 한페이지에 10개씩 볼 수 있게하는 쿼리 윗부분-->
        select *
        from (
            select rownum as rn, A.*
            from (    
</sql>

<sql id="paging_footer">
<!-- 게시물을 한페이지에 10개씩 볼 수 있게하는 쿼리  아랫 부분-->
    <!-- 새로 매겨진 일련번호 1~10번 글까지 1페이지 -->
    <!-- 11~20번 글까지 2페이지.. -->
            ) A
        ) where rn between #{start} and #{end}    
</sql>

<sql id="search">
<choose>
          <!-- 작성자 , 내용, 제목으로 각각 검색할 수 있게끔 한다. -->
            <when test="search_option == 'all' ">
                where  
                      memberId like '%'||#{keyword}||'%'
                      or category like '%' || #{keyword}||'%'
                      or serviceTitle like '%'||#{keyword}||'%'   
            </when>
            <otherwise>
             
             <!-- 작성자 + 내용 + 제목을 포함한 항목을 검색할 수 있게끔 한다. -->
                where ${search_option} like '%'||#{keyword}||'%'
            </otherwise>
</choose>
</sql>







<resultMap type="map" id="serviceMap">
	<id column="no" property="no"/>	
	<result column="category" property="category"/>
	<result column="title" property="title"/>
	<result column="content" property="content"/>

</resultMap>


 <select id="selectServiceList" resultMap="serviceListMap">
 	select *
 	from service
</select>

<insert id="insertService">

	insert into 
		service 
	values(
	seq_service_no.nextval, 
		#{category},  
		default, 
		#{serviceTitle}, 
		#{serviceContent},
		null, 
		#{memberId}, 
		default, 
		default, 
		default
	)
</insert>

<!-- <select id="categoryServiceList" >
		SELECT *

		FROM service
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType=='serviceTitle' and keyword != null and keyword != '' ">
				AND ServiceTitle like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='category' and keyword != null and keyword != '' ">
				AND category like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='memberId' and keyword != null and keyword != '' ">
				AND memberId like CONCAT('%', #{keyword}, '%')
			</if>	
		</trim>
	
	</select>  -->
	
	





<resultMap type="map" id="serviceListMap">
	
	<result column="no" property="no"/>
	<result column="category" property="category"/>
	<result column="service_status" property="serviceStatus"/>
	<result column="service_title" property="serviceTitle"/>
	<result column="service_content" property="serviceContent"/>
	<result column="reply_no" property="reply_no"/>
	<result column="member_id" property="memberId"/>
	<result column="service_date" property="serviceDate"/>
	<result column="read_yn" property="read_yn"/>
	<result column="service_level" property="serviceLevel"/>

</resultMap>





</mapper>