<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">


<insert id="insertQuestion">
insert into 
	pre_test 
values(
	seq_test_no.nextval, 
	#{memberId}, 
	#{srNo}, 
	#{testQuestion}, 
	#{testAnswer}, 
	#{testChoice_1}, 
	#{testChoice_2}, 
	#{testChoice_3}, 
	#{testChoice_4}, 
	#{filePath}, 
	#{renamedFilename})
</insert>

<select id="selectStudyNo" resultType="studyroom">
select
	sr_no
from
  	sr_info
</select>

<select id="selectQuestion" resultMap="testMap">
<![CDATA[ 
  	SELECT rownum, s.* FROM
	( SELECT * FROM pre_test
	ORDER BY dbms_random.value ) s
 
	WHERE sr_no=#{srNo} and rownum <= 10
]]> 
</select>
<resultMap type="map" id="testMap">
<id column="sr_no" property="srNo"/>
<result column="rownum" property="no"/>
<result column="test_no" property="testNo"/>
<result column="test_question" property="testQuestion"/>
<result column="test_answer" property="testAnswer"/>
<result column="test_choice1" property="testChoice_1"/>
<result column="test_choice2" property="testChoice_2"/>
<result column="test_choice3" property="testChoice_3"/>
<result column="test_choice4" property="testChoice_4"/>
<result column="file_path" property="filePath"/>
<result column="renamed_filename" property="renamedFilename"/>
</resultMap>

<update id="updatePoint">
update 
	member
set
	diligent_point = diligent_point+1
where 
	member_id = #{memberId}

</update>

<select id="selectCountQuestion" resultType="_int">
select
	count(*)
from 
	pre_test
where
	sr_no=#{srNo}

</select>

</mapper>