<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="attendance">
 
 
 <select id="selectList" parameterType="String" resultMap="attendanceMap">
 
 select *
 from attendance
 where member_id = #{memberId}

 
 </select>
 
 
 <resultMap type="map" id="attendanceMap">
 	<id column="no" property="no"/>
 	<result column="sr_no" property="srNo"/>
 	<result column="member_id" property="memberId"/>
 	<result column="attend_cnt" property="attendCnt"/>
 	<result column="recent_attend_date" property="attendDate"/>
 
 </resultMap>
</mapper>