@charset "UTF-8";


#member-update-container {
			width:80%; 
			margin: 0 auto; 
			background-color: #FBF7FD;
    		padding: 20px;
}
#member-update-container h4{
			padding: 20px 20px 0 20px;
}
.myinfo-tagS{
	border: 1px solid #000;
	width:10%;
	cursor: pointer;
	background-color: #fff;
	margin-left:110px;
}
.tagS a{
	display:inline-block;
	color: #000;
}


#updatefrm-left{
	float:left;
	background-color: #fff;
	width:700px;
	padding: 20px;
	margin-left: 30px; 

}
#updatefrm-right{
	float:left;
	background-color: #fff;
	width:300px; 
	margin: 0 auto;
	text-align: center;
	padding: 20px;
}
#form-control-label{
			width:100px; 
			text-align:center; 
	
}

input.form-control{
			width:80%; 
			height: 50px;
			text-align:center; 
			margin: 10px auto;
			border : none;
			border-bottom: 1px solid black;
			
}
input.bottom-form-control{
	width: 100px;
	margin : 0 20px 0 70px;
	
}
/* 프로필사진 업로드  */
.mProfile-container input[type="file"] { 
		position: absolute; 
		width: 1px; height: 1px; padding: 0; margin: -1px; 
		overflow: hidden; 
		clip:rect(0,0,0,0); 
		border: 0; 
} 
.mProfile-container label { 
		display: inline-block; 
		padding: .5em .75em; 
		color: #999; 
		font-size: inherit; line-height: normal; vertical-align: middle; background-color: #fdfdfd; cursor: pointer; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2; border-radius: .25em; } 
/* named upload */ 
.mProfile-container .file-input { 
		display: inline-block; 
		padding: .5em .75em; /* label의 패딩값과 일치 */ 
		font-size: inherit; 
		font-family: inherit; 
		line-height: normal; 
		vertical-align: middle; 
		background-color: #f5f5f5; 
		border: 1px solid #ebebeb; 
		border-bottom-color: #e2e2e2;
		border-radius: .25em; 
		-webkit-appearance: none; /* 네이티브 외형 감추기 */ 
		-moz-appearance: none; appearance: none; 
}

