				.tableB{
					background-color:white;
				
				}
  				#thisday{
                    background-color: #f9f1ed;
                    padding-right: 10%;
                    border-radius:10px;
                    display:inline;
                    color:white;
                }
                .Bday .highSpan{
                	font-size:18px;
                	width:38%;
                	margin-top:5px;
                    height: 25px;
                }
                .Bday div{
                    margin: 0;
                    display:inline-block;
                    padding-left:10px;
                    padding-right:10px;
                    width:100%;
                    height: 20px;
                    text-overflow:ellipsis; 
                    overflow:hidden;
                	font-size:12px;
                	float:left;
                }
                .Bday{
                    border-radius: 10px;
                    cursor: pointer;
                }
                .Bday:hover{
                    background-color: rgb(216, 214, 214);
                }
                #prevB{
                    margin-right: 30px;
                    background: #f9f1ed;
                    border: none;
                    
                }
                #prevB img{
                    width: 50px;
                    background: none;
                }
                #nextB{
                    margin-left: 30px;
                    background: #f9f1ed;
                    border: none;
                }
                #nextB img{
                    width: 50px;
                }
                .monthBB{
                    font-size: 30px;
                    font-weight: bold;
                    text-align: center;

                }
                #monthB{
                    width: 100px;
                    display:inline-block;
                }
                .dropB{
                    position: absolute;
                    border: 1px solid black;
                    width: 200px;
                    background-color: #ad8686;
                }
                .dropB p{
                    text-align: right;
                    margin: 0;
                    margin-right: 20px;
                    cursor: pointer;
                }
                .dropB button{
                    border: 0;
                    outline: 0;
                }
                .dropB button:hover{
                    background-color:#f9f1ed;
                }
                .yearBB{
                    font-size: 40px;
                    font-weight: bold;
                    text-align: center;
                }
                .cal-divB{
                   /*  width:800px; */
                    margin-top: 100px;
                    margin-left: 100px;
                    background-color:#f9f1ed;
                    padding:100px;
                }
                th.sun, .sun .highSpan{
                    color:red;
                }
                th.sat, .sat .highSpan{
                    color:blue;
                }
                .tableB tr td{
                    padding: 0;
                    width:100px;
                    height:100px;
                    margin: 5px;
                }
                .modal-body img{
                    width: 25px;
                }
                .modal-body .datepick{
                    text-align: center;
                    width: 140px;
                    height: 30px;
                }
                #iuschedule{
                    text-align: center;
                    margin-top:50px;
                }
                #iuschedule span{
                    width: 200px;
                }
                #iuschedule input, #addTableTodo input{
                	border:0;
                	border-bottom:1px solid black;
                }
                .marginB{
                    margin-bottom: 30px;
                }
                .datepickers-container{
                    z-index: 9999;
                }
                #viewTable td{
                	text-align:center;
                	padding: 10px;
                	padding-bottom:0;
                }
                .tdB{
                	width:80px;
                }
                #viewTable{
               		min-height:200px;
                }
                #todoTable td, #addTableTodo td{
                	text-align:center;
                }
                #addTableTodo input{
                	width:300px;
                }
				#todoTable label{
					cursor:pointer;
				}
				
