<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<insert id="insertMember">
		insert into
			member
		values(
			#{ memberId },
			#{ memberName },
			#{ password },
			default,
			#{ phone },
			default,
			default,
			default,
			#{ comment },
			#{ category }
		
		)
	</insert>


 <select id="selectOneMember" resultMap="memberMap">
  	select
  		*
  	from 
  		member
  	where 
  		member_id = #{ memberId }
  </select>
  
  
  <!-- 성실멤버 List -->
  <select id="selectDiligentMember" resultMap="memberMap" >
    select member_id ,  
       member_name,
  	   diligent_point,
   	   member_comment,
       RANK() OVER (ORDER BY diligent_point DESC) AS rank
	from member
<![CDATA[  
	where ROWNUM <= 10
	]]>
	
	</select>
  
  

 <resultMap type="member" id="memberMap">
  
  </resultMap>

	

  
  
</mapper>