<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<insert id="insertMember">
		insert into
			member
		values(
			#{ memberId },
			#{ memberName },
			#{ password },
			default,
			#{ phone },
			default,
			default,
			default,
			#{ comment },
			#{ category },
			default
		
		)
	</insert>


 <select id="selectOneMember" resultMap="memberMap">
  	select
  		*
  	from 
  		member
  	where 
  		member_id = #{ memberId }
  </select>
  
  
  
  <!-- 성실멤버 List -->
  <select id="selectDiligentMember" resultMap="memberMap" >
    select member_id ,  
       member_name,
  	   diligent_point,
   	   member_comment,
       RANK() OVER (ORDER BY diligent_point DESC) AS rank
	from member
<![CDATA[  
	where ROWNUM <= 10
	]]>
	
	</select>
  
  
<update id="updateBlack">
	
		update member
		set blacklist_yn = 'Y'
		where member_id = #{reportedMember}
	</update>
  

<resultMap type="member" id="memberMap">
    <result column="member_id" property="memberId"/>
  	<result column="member_name" property="memberName"/>
  	<result column="password" property="password"/>
  	<result column="member_role" property="memberRole"/>
  	<result column="phone" property="phone"/>
  	<result column="diligent_point" property="diligentPoint"/>
  	<result column="blacklist_yn" property="blacklist"/>
  	<result column="withdraw_yn" property="withdraw"/>
  	<result column="member_comment" property="comment"/>
  	<result column="category" property="category"/> 
  </resultMap>


	

  
  
</mapper>