<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.onairstudy.member.model.vo.Member" alias="member"/>
		<package name="com.kh.onairstudy"/>	
	</typeAliases>
	
	
	<!-- <typeHandlers>
		<typeHandler handler="com.kh.spring.common.typehandler.StringArrayTypeHandler"/>
		<package name="com.kh.spring.common.typehandler"/>
	</typeHandlers>  -->
	
	
</configuration>