<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chat">
 <select id="selectChatList" resultType="chat">
SELECT  R.no,R.member_id,R.sr_no,R.chat_content,r.send_date,L.vaild_yn

FROM (SELECT rownum r , c.* FROM chatting c ORDER BY c.no DESC) R
            left outer join (select * from report_log where content_category='C') L
            on R.no = L.content_id
WHERE sr_no = #{roomNo} and R.no BETWEEN #{startNo} AND #{endNo}
 </select>
 <select id="selectFirstChatList" resultType="chat">
<![CDATA[  
SELECT 
     x.*,L.vaild_yn
  FROM ( SELECT c.*
           FROM chatting c
          ORDER BY c.no desc
       ) x  
       left outer join (select * from report_log where content_category='C') L
            on x.no = L.content_id
       where x.sr_no = #{roomNo} and rownum <=10
      ]]> 
 </select>
</mapper>